<div class="sidenav min-h-screen">
  <div class="sidenav__drawer bg-brand-primary p-3 pt-5 flex flex-col  items-center">
    <span class="sidernav__drawer-logo w-12 h-12 bg-white rounded-full">

    </span>
    <div class="h-1 w-full mt-3 border-b border-brand-secondary opacity-70"></div>
    <ul class="mt-5 flex flex-col gap-5">
      @for (menu of menus; track menu) {
        <li routerLink="{{ menu.routeLink }}" class="p-2 rounded-full hover:bg-brand-primary hover:bg-opacity-10">
          <img [src]="menu.iconUrl"/>
        </li>
      }
    </ul>
  </div>
  <div class="sidenav__content">
    <ng-content></ng-content>
  </div>
</div>
