.sidenav {

  &__content {
    width: calc(100% - 200px);
  }

  &__drawer {
    width: 0;
    opacity: 0;
    animation: invisible 0.3s ease-in forwards;


    &.visible {
      animation: visible 0.3s ease-out forwards;

      @keyframes visible {
        to {
          width: 200px;
          opacity: 1;
          z-index: 10;
        }
      }
    }

    @keyframes invisible {
      from {
        width: 200px;
        opacity: 1;
        z-index: 10;
      }
      to {
        width: 0;
        opacity: 0;
        z-index: -1;
      }
    }


    @media only screen and (max-width: 30rem) {
      min-width: 100vw !important;
      @keyframes invisible {
        from {
          opacity: 1;
          z-index: 10;
        }
        to {
          width: 0;
          opacity: 0;
          z-index: -1;
        }
      }
    }

  }
}
