<form class="p-2">
  <div class="flex flex-col gap-2">
    <label for="">Usuário: </label>
    <input type="text" placeholder="Digite seu CNPJ" class="bg-brand-secondary p-2 sm:p-3 shadow-md rounded-xl outline-none placeholder:text-sm">
  </div>
  <div class="flex flex-col gap-2 mt-3">
    <label for="">Senha: </label>
    <input type="text" placeholder="Senha" class="bg-brand-secondary p-2 sm:p-3 rounded-xl shadow-md outline-none placeholder:text-sm">
  </div>
  <p class="text-end text-sm mt-3 cursor-pointer hover:underline">Esqueceu sua senha?</p>
  <button type="button" routerLink="/dashboard" class="bg-brand-primary text-white w-full mt-6 p-2 sm:p-3 rounded-xl hover:opacity-80">Confirmar</button>
  <p class="text-sm mx-auto text-center mt-5 cursor-pointer hover:underline">Problemas com o acesso?</p>
</form>
