<mat-drawer-container class="min-h-screen border border-black">
  <mat-drawer mode="side" opened>
    <div class="bg-brand-primary h-full w-[100px]">
      hello
    </div>
  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar>
      <div class="bg-brand-primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">

        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">

        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">

        </button>
      </div>
    </mat-toolbar>

    <router-outlet/>
  </mat-drawer-content>
</mat-drawer-container>
