.menu-mobile {
  width: 38px;
  height: 38px;
  cursor: pointer;
  @apply flex flex-col gap-1 items-center justify-center rounded-full  p-1 relative;

  &__bar {
    height: 3px;
    @apply  rounded-md bg-brand-quaternary;
    transition: all 0.2s ease;
    width: 80%;

    &.disabled {
      display: none;
    }

    &--first {
      transform-origin: center;
      transform: translateY(5px) rotateZ(-135deg);
    }

    &--last {
      transform-origin: center;
      transform: translateY(-2.5px) rotateZ(135deg);
    }
  }
}
